
    <div class="loader-backdrop">           <!-- Loader -->
        <div class="loader">
            <div class="ball-1"></div>
            <div class="ball-2"></div>
        </div>
    </div>
<header>            <!-- Header = Topbar + Navigation Bar -->
        <div class="topbar">            <!-- Dark Blue Topbar -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="tel:1800-234-2845" class="call-us"><i class="fa fa-phone"></i> 1800-234-2845</a>          <!-- Change Phone Number Here -->
                    </div>
                    <div class="col-sm-6">
                        <div class="dropdown">          <!-- Language Dropdown -->
                            <button class="btn btn-xs" type="button" id="select-lang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe"></i> English
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="select-lang">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Vietnamese</a></li>
                            </ul>
                        </div>
                        <form class="search form-inline">           <!-- Search Form -->
                            <input type="text" class="form-control" placeholder="Start typing...">
                            <button class="btn-search" type="submit"><i class="fa fa-search fa-fw"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-default">         <!-- Navigation Bar -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle Menu</span>
                        <span>Menu</span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a> <!-- Replace with your Logo -->
                </div>
                
                <div class="collapse navbar-collapse" id="main-navigation">         <!-- Main Menu -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">About</a>
                            <ul class="sub-menu">									<!-- Sub Menu -->
                                <li><a href="brief-history.html">Brief History</a></li>
                                <li><a href=about-educomp.html>About EduComp</a></li>
                                <li><a href="admission-process.html">Admission Process</a></li>
                                <li><a href="albums.html">Albums</a></li>
                                <li><a href="album-single.html">Album Single</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="code-of-conduct.html">Code of Conduct</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="sub-menu">																<!-- Sub Menu -->
                                <li><a href="#"> Courses <i class="fa fa-angle-right pull-right"></i></a>
                                    <ul class="sub-menu">														<!-- Sub Sub Menu -->
                                        <li><a href="course-grid.html">Course Grid</a></li>
                                        <li><a href="course-list.html">Course List</a></li>
                                        <li><a href="course-detail.html">Course Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Teachers <i class="fa fa-angle-right pull-right"></i></a>
                                    <ul class="sub-menu">														<!-- Sub Sub Menu -->
                                        <li><a href="teachers.html">Our Teachers</a></li>
                                        <li><a href="teacher-profile.html">Teacher Profile</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Events  <i class="fa fa-angle-right pull-right"></i></a>
                                    <ul class="sub-menu">														<!-- Sub Sub Menu -->
                                        <li><a href="upcoming-events.html">Upcoming Events</a></li>
                                        <li><a href="event-details.html">Event Details</a></li>
                                    </ul>                                
                                </li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="not-found.html">404</a></li>                                
                            </ul>
                        </li>                        
                        <li><a href="#">Elements</a>
                            <ul class="sub-menu">																<!-- Sub Menu -->
                                <li><a href="video.html">Video</a></li>
                                <li><a href="modals.html">Modals</a></li>
                                <li><a href="call-to-action.html">Call to action</a></li>
                                <li><a href="icon-boxes.html">Icon boxes</a></li>
                                <li><a href="accordion.html">Accordion</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="blockquotes.html">Blockquotes</a></li>
                                <li><a href="progress-bars.html">Progress Bars</a></li>
                                <li><a href="lists.html">Lists</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul class="sub-menu">																<!-- Sub Menu -->
                                <li><a href="blog-list-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-list-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a>
                            <ul class="sub-menu">																<!-- Sub Menu -->
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="google-map.html">Google Map</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>