
    <div class="loader-backdrop">           <!-- Loader -->
        <div class="loader">
            <div class="ball-1"></div>
            <div class="ball-2"></div>
        </div>
    </div>
<header>            <!-- Header = Topbar + Navigation Bar -->
        <div class="topbar">            <!-- Dark Blue Topbar -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="tel:1951-663-5338" class="call-us"><i class="fa fa-phone"></i> 1-951-663-5338</a>          <!-- Change Phone Number Here -->
                    </div>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-default">         <!-- Navigation Bar -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle Menu</span>
                        <span>Menu</span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a> <!-- Replace with your Logo -->
                </div>
                
                <div class="collapse navbar-collapse" id="main-navigation">         <!-- Main Menu -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about-coastal-coding.html">About</a>
                            <ul class="sub-menu">									<!-- Sub Menu -->
                                <li><a href="about-coastal-coding.html">About Coastal Coding</a></li>
                                <li><a href="admission-process.html">Admission Process</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </li>
                        <li><a href="course-detail.html">Program</a>
                            <ul class="sub-menu">																<!-- Sub Menu -->
                                <li><a href="teachers.html">Our Faculty</a></li>
                                <li><a href="course-detail.html">Course Details</a></li>                               
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a>
                        </li>
                        <li><a href="admission-process.html">Apply Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>