
	<div class="container mt-80 mb-80">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">Meet our <span class="color2">Faculty</span>
                    <span class="sub-heading">Our highly qualified instructors put in their best efforts for outstanding results in both studies and co-curricular activities.</span>
                    <span class="icon-divider"></span>
                </h2>
            </div>
            <div class="col-sm-4">
                <div class="teacher-card">
                    <img src="images/teacher-13.jpg" class="teacher-img img-responsive" alt="">
                    <a href="teacher-patience.html" class="teacher-link">View Profile</a>
                    <div class="teacher-detail">
                        <h4 class="heading">Pat Fuzane</h4>
                        <span class="position">20 Years Teaching Experience</span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="teacher-card">
                    <img src="images/teacher-4.jpg" class="teacher-img img-responsive" alt="">
                    
                    <div class="teacher-detail">
                        <h4 class="heading">Keith Jefferson</h4>
                        <span class="position">Software Engineer/Web Development</span>
                    </div>
                </div>
            </div> 
            
            <div class="col-sm-4">
                <div class="teacher-card">
                    <img src="images/teacher-3.jpg" class="teacher-img img-responsive" alt="">
                    
                    <div class="teacher-detail">
                        <h4 class="heading">Eduardo Gonzales</h4>
                        <span class="position">Web Development Instructor</span>
                    </div>
                </div>
            </div>
               
        </div>
    </div> 


	<div class="container mt-80 mb-80">
        <div class="row">

            <div class="col-sm-4">
                <div class="teacher-card">
                    <img src="images/teacher-5.jpg" class="teacher-img img-responsive" alt="">
                    
                    <div class="teacher-detail">
                        <h4 class="heading">Maria Salazar</h4>
                        <span class="position">Career Placement/Program Specialist</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="teacher-card">
                    <img src="images/teacher-11.jpg" class="teacher-img img-responsive" alt="">
                    
                    <div class="teacher-detail">
                        <h4 class="heading">Michelle Jones</h4>
                        <span class="position">Web Development/Graphics Instructor</span>
                    </div>
                </div>
            </div> 
            
            <div class="col-sm-4">
                <div class="teacher-card">
                    <img src="images/teacher-9.jpg" class="teacher-img img-responsive" alt="">
                    
                    <div class="teacher-detail">
                        <h4 class="heading">Steve Griffins</h4>
                        <span class="position">Web Development Instructor</span>
                    </div>
                </div>
            </div>
               
        </div>
    </div>        