
	<div class="container mt-80 mb-80">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">Meet our <span class="color2">Faculty</span>
                    <span class="sub-heading">Our highly qualified instructors put in their best efforts for outstanding results in both studies and co-curricular activities.</span>
                    <span class="icon-divider"></span>
                </h2>
            </div>
            <div class="col-sm-6">
                <div class="teacher-card">
                    <img src="images/teacher-1.jpg" class="teacher-img img-responsive" alt="">
                    <a href="teacher-profile.html" class="teacher-link">View Profile</a>
                    <div class="teacher-detail">
                        <h4 class="heading">Patience Fuzane</h4>
                        <span class="position">20 Years Teaching Experience</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="teacher-card">
                    <img src="images/teacher-2.jpg" class="teacher-img img-responsive" alt="">
                    <a href="teacher-profile.html" class="teacher-link">View Profile</a>
                    <div class="teacher-detail">
                        <h4 class="heading">Trent Ellingsen</h4>
                        <span class="position">5 Years Mobile/Web Development</span>
                    </div>
                </div>
            </div>    
        </div>
    </div>    